*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



body{
    font-family: 'Rubik Mono One', sans-serif;
}


nav.menu{
    position: fixed;
    right: 0;
    top: 0;
    z-index: 10;
}

nav.menu ul li{
    padding: 20px;
    display: inline-block;
    list-style: none;
}

nav li a{
    box-shadow: 0 10px 10px lightblue;
    display: inline-block;
    font-size: 20px;
    width: 40px;
    height: 40px;
    background-color: #2bafe2;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    text-decoration: none;
}

section.page{
    height: 100vh;
    position: relative;
}

section.page div.item{
    padding-top: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

span.description{
    text-transform: uppercase;
    font-size: 50px;
    text-align: center;
}

main.shop .page:first-child{
    background-color: red;
    color: yellow;
}

main.shop .page:nth-child(2){
    background-color: rgb(9, 161, 17);
    color: yellow;
}

main.shop .page:nth-child(3){
    background-color: rgb(194, 197, 38);
    color: rgb(9, 161, 17);
}

